.search {
    padding: 10px;
}

.add-field {
    flex-grow: 1;
    align-items: center;
}

.add-row {
    flex-grow: 1;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}

.example-full-width {
    width: 100%;
}